<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
    <title>Your Profile</title>
</head>

<body>
  <header>
    <% include ./partials/_header %>
  </header>

      <h1><%= `${user}` %>'s Profile</h1>

  <form class="user-info" action="/profile/update" method="POST">
      <div>Username:</div>
      <div><input type="text" value="<%= `${user}` %>" name="updateUser"></div>
      <div>Password:</div>
      <div><input type="password" value="<%= `${password}` %>" placeholder="************" name="updatePass"></div>
      <div>Email:</div>
      <div><input type="email" value="<%= `${email}` %>" name="updateEmail"></div>
      <div>First Name:</div>
      <div><input type="text" value="<%= `${firstname}` %>" name ="userFirst" placeholder="optional"></div>
      <div>Last Name:</div>
      <div><input type="text" value="<%= `${lastname}` %>" name="userLast" placeholder="optional"></div>
      <div>City:</div>
      <div><input type="text" value="<%= `${city}` %>" name="userCity" placeholder="optional"></div>
      <div><button type="Submit">Update</button></div>

  </form>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>

</html>
